<template>
  <div id="app">
    <Start/>
  </div>
</template>

<script>
import Start from './components/Start.vue'

export default {
  name: 'app',
  components: {
      Start
  }
}
</script>

<style lang="scss">
#app{
  font-family: 'Roboto', sans-serif;
}
</style>
